# Databases
go.db
python.db
node.db

# Python
venv/
__pycache__/
*.pyc

# NodeJS
node_modules/
package-lock.json

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
